: roott
 --cor-fundo: #554B45;
 --cor-destaque:#FF7324;
 --cor-texto: #FFFFFF;
ÔΩù

*{
  margin: 0;
  padding: 0;
}

body{
background-color: var (--cor-fundo);
color: var (--cor-texto) ;
}

.apresentacao{
  display: flex;
  margin: 10%;
  aling-items: center;
  justify-content: space-between;
}

strong{
  color: var (--cor-destaque);
}

a{
 
}

.foto{
  height: 490px;
}